<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="Eclipse 4.3 (2023-12)" sequenceNumber="6">
<locations>
   <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <repository location="https://download.eclipse.org/technology/m2e/releases/2.4.0/"/>
      <unit id="org.eclipse.m2e.feature.feature.group" version="2.4.100.20230827-1557"/>
      <unit id="org.eclipse.m2e.lemminx.feature.feature.group" version="2.0.5.20230815-1219"/>
      <unit id="org.eclipse.m2e.logback.feature.feature.group" version="2.2.0.20230819-1220"/>
      <unit id="org.eclipse.m2e.pde.feature.feature.group" version="2.2.200.20230820-0922"/>
      <unit id="org.eclipse.m2e.sdk.feature.feature.group" version="2.4.0.20230827-1557"/>
   </location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2025-09"/>
		<unit id="org.eclipse.acceleo.feature.group" version="3.7.17.202408201303"/>
		<unit id="org.eclipse.buildship.feature.group" version="3.1.10.v20240802-1314"/>
		<unit id="org.eclipse.cdt.autotools.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.cdt.build.crossgcc.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.cdt.debug.gdbjtag.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.cdt.debug.ui.memory.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.cdt.docker.launcher.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.cdt.feature.group" version="12.2.0.202509030008"/>
		<unit id="org.eclipse.cdt.gnu.multicorevisualizer.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.cdt.launch.remote.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.cdt.lsp.feature.feature.group" version="3.3.0.202509030041"/>
		<unit id="org.eclipse.cdt.managedbuilder.llvm.feature.group" version="12.2.0.202508181550"/>
		<unit id="org.eclipse.cdt.msw.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.cdt.sdk.feature.group" version="12.2.0.202509030008"/>
		<unit id="org.eclipse.cdt.testsrunner.feature.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.datatools.common.doc.user.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.connectivity.doc.user.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.connectivity.oda.designer.core.feature.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.connectivity.oda.designer.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.connectivity.oda.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.doc.user.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.apache.derby.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.hsqldb.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.ibm.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.ingres.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.jdbc.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.jdt.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.msft.feature.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.mysql.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.oda.designer.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.oda.feature.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.oracle.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.postgresql.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.sap.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.sqlite.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.enablement.sybase.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.intro.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.modelbase.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.16.3.202412071309"/>
		<unit id="org.eclipse.datatools.sqldevtools.data.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.sqldevtools.ddl.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.sqldevtools.ddlgen.feature.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.sqldevtools.feature.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.sqldevtools.parsers.feature.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.sqldevtools.results.feature.feature.group" version="1.16.0.202412160915"/>
		<unit id="org.eclipse.datatools.sqldevtools.schemaobjecteditor.feature.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.datatools.sqldevtools.sqlbuilder.feature.feature.group" version="1.16.1.202412071309"/>
		<unit id="org.eclipse.datatools.sqltools.doc.user.feature.group" version="1.15.1.202412071309"/>
		<unit id="org.eclipse.dltk.core.feature.group" version="6.4.2.202509021500"/>
		<unit id="org.eclipse.dltk.itcl.feature.group" version="6.4.2.202509021500"/>
		<unit id="org.eclipse.dltk.mylyn.feature.group" version="6.4.2.202509021500"/>
		<unit id="org.eclipse.dltk.rse.feature.group" version="6.4.2.202509021500"/>
		<unit id="org.eclipse.dltk.tcl.feature.group" version="6.4.2.202509021500"/>
		<unit id="org.eclipse.dltk.xotcl.feature.group" version="6.4.2.202509021500"/>
		<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="4.30.600.v20250717-1710"/>
		<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.7.0.v20250304-2338"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.16.4.v20250819-0049"/>
		<unit id="org.eclipse.eclemma.feature.feature.group" version="3.1.10.202505212130"/>
		<unit id="org.eclipse.egit.feature.group" version="7.4.0.202509020913-r"/>
		<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="7.4.0.202509020913-r"/>
		<unit id="org.eclipse.embedcdt.codered.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.debug.gdbjtag.jlink.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.debug.gdbjtag.openocd.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.debug.gdbjtag.pyocd.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.debug.gdbjtag.qemu.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.doc.user.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.managedbuild.cross.arm.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.managedbuild.cross.riscv.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.packs.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.templates.ad.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.templates.cortexm.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.templates.freescale.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.templates.sifive.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.templates.stm.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.embedcdt.templates.xpack.feature.group" version="6.6.1.202408270735"/>
		<unit id="org.eclipse.emf.cdo.dawn.feature.group" version="2.5.7.v20250831-0641"/>
		<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="5.15.0.v20250901-1302"/>
		<unit id="org.eclipse.emf.compare.diagram.sirius.feature.group" version="3.3.27.202508281322"/>
		<unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.27.202508281322"/>
		<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.27.202508281322"/>
		<unit id="org.eclipse.emf.compare.uml2.feature.group" version="3.3.27.202508281322"/>
		<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.34.0.v20250803-1633"/>
		<unit id="org.eclipse.emf.ecoretools.design.feature.group" version="3.5.2.202409301715"/>
		<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.17.0.v20250823-0643"/>
		<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.23.0.v20250823-0643"/>
		<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.23.0.v20250823-0643"/>
		<unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.12.0.v20240911-0848"/>
		<unit id="org.eclipse.emf.parsley.cdo.feature.feature.group" version="1.18.0.v20240826-1656"/>
		<unit id="org.eclipse.emf.parsley.cdo.feature.source.feature.group" version="1.18.0.v20240826-1656"/>
		<unit id="org.eclipse.emf.parsley.sdk.feature.group" version="1.18.0.v20240826-1656"/>
		<unit id="org.eclipse.emf.parsley.sdk.source.feature.group" version="1.18.0.v20240826-1656"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.43.0.v20250825-1255"/>
		<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.14.1.202409160716"/>
		<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.14.0.202408231629"/>
		<unit id="org.eclipse.epp.mpc.feature.group" version="1.13.0.v20250816-1241"/>
		<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.1800.v20250820-1640"/>
		<unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.9.0.202210162353"/>
		<unit id="org.eclipse.gef.cloudio.sdk.feature.group" version="5.0.2.202411181539"/>
		<unit id="org.eclipse.gef.cloudio.user.feature.group" version="5.0.2.202411181539"/>
		<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.1.202411181539"/>
		<unit id="org.eclipse.gef.dot.sdk.feature.group" version="5.1.4.202411181539"/>
		<unit id="org.eclipse.gef.dot.user.feature.group" version="5.1.4.202411181539"/>
		<unit id="org.eclipse.gef.fx.sdk.feature.group" version="5.0.5.202411181539"/>
		<unit id="org.eclipse.gef.geometry.sdk.feature.group" version="5.0.3.202411181539"/>
		<unit id="org.eclipse.gef.graph.sdk.feature.group" version="5.1.0.202411181539"/>
		<unit id="org.eclipse.gef.layout.sdk.feature.group" version="5.0.0.202411181539"/>
		<unit id="org.eclipse.gef.mvc.sdk.feature.group" version="5.2.3.202411181539"/>
		<unit id="org.eclipse.gef.sdk.feature.group" version="5.5.1.202411181539"/>
		<unit id="org.eclipse.gef.zest.sdk.feature.group" version="5.1.2.202411181539"/>
		<unit id="org.eclipse.gmf.feature.group" version="1.16.7.202508120942"/>
		<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.13.1.202211151334"/>
		<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.16.7.202508120942"/>
		<unit id="org.eclipse.graphiti.export.feature.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.export.feature.source.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.feature.examples.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.feature.examples.source.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.feature.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.feature.source.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.feature.tools.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.feature.tools.source.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.sdk.feature.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.sdk.feature.source.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.graphiti.sdk.plus.feature.source.feature.group" version="0.19.3.202502181516"/>
		<unit id="org.eclipse.jdt.astview.feature.feature.group" version="1.2.500.v20250501-1924"/>
		<unit id="org.eclipse.jdt.bcoview.feature.feature.group" version="1.2.700.v20250114-1355"/>
		<unit id="org.eclipse.jdt.feature.group" version="3.20.300.v20250905-1111"/>
		<unit id="org.eclipse.jdt.jeview.feature.feature.group" version="1.1.700.v20250428-2158"/>
		<unit id="org.eclipse.jgit.feature.group" version="7.4.0.202509020913-r"/>
		<unit id="org.eclipse.jgit.gpg.bc.feature.group" version="7.4.0.202509020913-r"/>
		<unit id="org.eclipse.jgit.http.apache.feature.group" version="7.4.0.202509020913-r"/>
		<unit id="org.eclipse.jgit.lfs.feature.group" version="7.4.0.202509020913-r"/>
		<unit id="org.eclipse.jgit.ssh.apache.feature.group" version="7.4.0.202509020913-r"/>
		<unit id="org.eclipse.jgit.ssh.jsch.feature.group" version="7.4.0.202509020913-r"/>
		<unit id="org.eclipse.jpt.jaxb.eclipselink.feature.feature.group" version="1.4.203.v202104080213"/>
		<unit id="org.eclipse.jpt.jaxb.feature.feature.group" version="1.5.201.v202301061019"/>
		<unit id="org.eclipse.jpt.jpa.eclipselink.feature.feature.group" version="3.4.101.v202308172102"/>
		<unit id="org.eclipse.jpt.jpa.feature.feature.group" version="3.8.100.v202508311604"/>
		<unit id="org.eclipse.jpt.jpadiagrameditor.feature.feature.group" version="1.2.300.v202307260736"/>
		<unit id="org.eclipse.jsf.feature.feature.group" version="3.14.0.v202504070144"/>
		<unit id="org.eclipse.jst.common.fproj.enablement.jdt.feature.group" version="3.39.0.v202508180233"/>
		<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.39.0.v202508301800"/>
		<unit id="org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature.feature.group" version="2.8.0.v202307262303"/>
		<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.4.1400.v202504140102"/>
		<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.39.0.v202508220455"/>
		<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.500.v202401292331"/>
		<unit id="org.eclipse.jst.web_js_support.feature.feature.group" version="3.32.0.v202309190220"/>
		<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.39.0.v202508180347"/>
		<unit id="org.eclipse.jst.webpageeditor.feature.feature.group" version="2.12.200.v202502281952"/>
		<unit id="org.eclipse.jst.ws.axis2tools.feature.feature.group" version="1.2.0.v202405180419"/>
		<unit id="org.eclipse.jst.ws.cxf.feature.feature.group" version="1.1.1300.v202409291603"/>
		<unit id="org.eclipse.jst.ws.jaxws.dom.feature.feature.group" version="1.0.600.v202308010354"/>
		<unit id="org.eclipse.jst.ws.jaxws.feature.feature.group" version="1.2.1100.v202409291604"/>
		<unit id="org.eclipse.launchbar.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.linuxtools.callgraph.feature.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.cdt.libhover.devhelp.feature.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.cdt.libhover.feature.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.changelog.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.docker.feature.feature.group" version="5.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.gcov.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.gprof.feature.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.javadocs.feature.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.jdt.docker.launcher.feature.feature.group" version="5.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.man.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.perf.feature.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.rpm.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.systemtap.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.vagrant.feature.feature.group" version="5.20.0.202509021506"/>
		<unit id="org.eclipse.linuxtools.valgrind.feature.group" version="8.20.0.202509021506"/>
		<unit id="org.eclipse.lsp4e" version="0.18.26.202508141023"/>
		<unit id="org.eclipse.lsp4e.debug" version="0.15.15.202501312028"/>
		<unit id="org.eclipse.lsp4e.jdt" version="0.13.7.202505091900"/>
		<unit id="org.eclipse.lsp4j.sdk.feature.group" version="0.24.0.v20250131-1747"/>
		<unit id="org.eclipse.m2e.feature.feature.group" version="2.9.1.20250811-2022"/>
		<unit id="org.eclipse.m2e.lemminx.feature.feature.group" version="2.6.101.20250727-0612"/>
		<unit id="org.eclipse.m2e.logback.feature.feature.group" version="2.7.100.20250418-1315"/>
		<unit id="org.eclipse.m2e.pde.feature.feature.group" version="2.3.500.20250727-0612"/>
		<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="2.9.1.20250811-2022"/>
		<unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.6.1.20231024-1618"/>
		<unit id="org.eclipse.m2e.wtp.jaxrs.feature.feature.group" version="1.6.1.20231024-1618"/>
		<unit id="org.eclipse.m2e.wtp.jpa.feature.feature.group" version="1.6.1.20231024-1618"/>
		<unit id="org.eclipse.m2e.wtp.jsf.feature.feature.group" version="1.6.1.20231024-1618"/>
		<unit id="org.eclipse.m2m.atl.feature.group" version="4.12.0.v202505101449"/>
		<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="4.12.0.v202505101449"/>
		<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.11.0.v20240902-1403"/>
		<unit id="org.eclipse.m2m.qvt.oml.sdk.source.feature.group" version="3.11.0.v20240902-1403"/>
		<unit id="org.eclipse.m2m.qvt.oml.tools.coverage.feature.group" version="1.11.0.v20240902-1403"/>
		<unit id="org.eclipse.m2m.qvt.oml.tools.coverage.source.feature.group" version="1.11.0.v20240902-1403"/>
		<unit id="org.eclipse.mat.chart.feature.feature.group" version="1.16.1.202501091339"/>
		<unit id="org.eclipse.mat.feature.feature.group" version="1.16.1.202501091339"/>
		<unit id="org.eclipse.modisco.sdk.feature.feature.group" version="1.5.6.v20250214-1552"/>
		<unit id="org.eclipse.modisco.sdk.feature.source.feature.group" version="1.5.6.v20250214-1552"/>
		<unit id="org.eclipse.mylyn.bugzilla.feature.feature.group" version="4.8.0.v20250625-0934"/>
		<unit id="org.eclipse.mylyn.builds.feature.feature.group" version="4.8.0.v20250813-1217"/>
		<unit id="org.eclipse.mylyn.cdt.feature.feature.group" version="5.29.0.v20250814-1906"/>
		<unit id="org.eclipse.mylyn.commons.activity.feature.feature.group" version="4.8.0.v20250809-1826"/>
		<unit id="org.eclipse.mylyn.commons.feature.feature.group" version="4.8.0.v20250813-0645"/>
		<unit id="org.eclipse.mylyn.commons.identity.feature.feature.group" version="4.8.0.v20250809-1505"/>
		<unit id="org.eclipse.mylyn.commons.notifications.feature.feature.group" version="4.8.0.v20250813-0648"/>
		<unit id="org.eclipse.mylyn.commons.repositories.feature.feature.group" version="4.8.0.v20250826-1201"/>
		<unit id="org.eclipse.mylyn.context.feature.feature.group" version="4.8.0.v20250816-0943"/>
		<unit id="org.eclipse.mylyn.egit.feature.feature.group" version="4.8.0.v20250815-0537"/>
		<unit id="org.eclipse.mylyn.git.feature.feature.group" version="4.8.0.v20250821-0543"/>
		<unit id="org.eclipse.mylyn.github.feature.feature.group" version="6.9.0.v20250816-0848"/>
		<unit id="org.eclipse.mylyn.ide.feature.feature.group" version="4.8.0.v20250816-0845"/>
		<unit id="org.eclipse.mylyn.jdt.feature.feature.group" version="4.8.0.v20250816-0849"/>
		<unit id="org.eclipse.mylyn.jenkins.feature.feature.group" version="4.8.0.v20250809-1546"/>
		<unit id="org.eclipse.mylyn.monitor.feature.feature.group" version="4.8.0.v20250814-1811"/>
		<unit id="org.eclipse.mylyn.pde.feature.feature.group" version="4.8.0.v20250816-0944"/>
		<unit id="org.eclipse.mylyn.reviews.feature.feature.group" version="4.8.0.v20250820-0707"/>
		<unit id="org.eclipse.mylyn.tasks.feature.feature.group" version="4.8.0.v20250821-0416"/>
		<unit id="org.eclipse.mylyn.team.feature.feature.group" version="4.8.0.v20250815-0736"/>
		<unit id="org.eclipse.mylyn.versions.feature.feature.group" version="4.8.0.v20250821-0548"/>
		<unit id="org.eclipse.mylyn.wikitext.feature.feature.group" version="4.8.0.v20250823-0814"/>
		<unit id="org.eclipse.net4j.db.feature.group" version="4.28.0.v20250901-1302"/>
		<unit id="org.eclipse.net4j.sdk.feature.group" version="4.30.0.v20250901-1302"/>
		<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.22.0.v20240902-1518"/>
		<unit id="org.eclipse.ocl.all.sdk.source.feature.group" version="5.22.0.v20240902-1518"/>
		<unit id="org.eclipse.ocl.build.feature.group" version="6.22.0.v20240902-1518"/>
		<unit id="org.eclipse.ocl.build.source.feature.group" version="6.22.0.v20240902-1518"/>
		<unit id="org.eclipse.ocl.examples.feature.group" version="6.22.0.v20240902-1518"/>
		<unit id="org.eclipse.ocl.examples.source.feature.group" version="6.22.0.v20240902-1518"/>
		<unit id="org.eclipse.oomph.preferences.feature.group" version="1.19.0.v20250411-0846"/>
		<unit id="org.eclipse.oomph.projectconfig.feature.group" version="1.18.0.v20240510-1552"/>
		<unit id="org.eclipse.oomph.setup.sdk.feature.group" version="1.36.0.v20250902-1334"/>
		<unit id="org.eclipse.oomph.targlets.feature.group" version="1.29.0.v20250805-0700"/>
		<unit id="org.eclipse.oomph.version.feature.group" version="1.22.0.v20240821-0658"/>
		<unit id="org.eclipse.oomph.workingsets.feature.group" version="1.20.0.v20250218-0822"/>
		<unit id="org.eclipse.passage.ldc.feature.feature.group" version="4.3.0.v20250902-0726"/>
		<unit id="org.eclipse.pde.feature.group" version="3.16.400.v20250905-0730"/>
		<unit id="org.eclipse.pde.spies.feature.group" version="1.0.800.v20250822-0904"/>
		<unit id="org.eclipse.php.composer.feature.group" version="8.2.0.202311292129"/>
		<unit id="org.eclipse.php.feature.group" version="8.2.0.202311292129"/>
		<unit id="org.eclipse.php.mylyn.feature.group" version="8.2.0.202311292129"/>
		<unit id="org.eclipse.php.phpunit.feature.feature.group" version="8.2.0.202311292129"/>
		<unit id="org.eclipse.php.profiler.feature.group" version="8.2.0.202311292129"/>
		<unit id="org.eclipse.php.rdt.sync.feature.group" version="8.2.0.202311292129"/>
		<unit id="org.eclipse.qvtd.master.feature.group" version="0.33.0.v20240902-1758"/>
		<unit id="org.eclipse.qvtd.master.source.feature.group" version="0.33.0.v20240902-1758"/>
		<unit id="org.eclipse.rap.tools.feature.feature.group" version="4.4.0.20250829-1200"/>
		<unit id="org.eclipse.remote.console.feature.group" version="12.2.0.202507191614"/>
		<unit id="org.eclipse.remote.feature.group" version="12.2.0.202506091931"/>
		<unit id="org.eclipse.rse.feature.group" version="4.5.700.202408061246"/>
		<unit id="org.eclipse.rse.useractions.feature.group" version="4.5.700.202408061246"/>
		<unit id="org.eclipse.scout.sdk-feature.feature.group" version="14.0.15"/>
		<unit id="org.eclipse.sdk.feature.group" version="4.37.0.v20250905-1111"/>
		<unit id="org.eclipse.sirius.properties.feature.feature.group" version="7.4.11.202508120844"/>
		<unit id="org.eclipse.sirius.samples.feature.group" version="7.4.11.202508120844"/>
		<unit id="org.eclipse.sirius.specifier.feature.group" version="7.4.11.202508120844"/>
		<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="7.4.11.202508120844"/>
		<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.109.800.v20250821-1252"/>
		<unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.3.0.202506021445"/>
		<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="4.3.0.202506021445"/>
		<unit id="org.eclipse.swtbot.feature.group" version="4.3.0.202506021445"/>
		<unit id="org.eclipse.swtbot.ide.feature.group" version="4.3.0.202506021445"/>
		<unit id="org.eclipse.tcf.cdt.feature.feature.group" version="1.7.0.202105251709"/>
		<unit id="org.eclipse.tcf.te.tcf.feature.feature.group" version="1.7.0.202002082211"/>
		<unit id="org.eclipse.tcf.te.tcf.launch.cdt.feature.feature.group" version="1.7.0.202007121733"/>
		<unit id="org.eclipse.tips.feature.feature.group" version="0.4.700.v20250611-0854"/>
		<unit id="org.eclipse.tm.terminal.connector.cdtserial.feature.feature.group" version="12.2.0.202507250901"/>
		<unit id="org.eclipse.tm.terminal.connector.remote.feature.feature.group" version="12.2.0.202507231751"/>
		<unit id="org.eclipse.tm.terminal.feature.feature.group" version="12.2.0.202507251115"/>
		<unit id="org.eclipse.tm4e.feature.feature.group" version="0.14.1.202501141527"/>
		<unit id="org.eclipse.tm4e.language_pack.feature.feature.group" version="0.14.1.202501052236"/>
		<unit id="org.eclipse.tracecompass.gdbtrace.feature.group" version="11.1.0.202509031700"/>
		<unit id="org.eclipse.tracecompass.lttng2.kernel.feature.group" version="11.1.0.202509031700"/>
		<unit id="org.eclipse.tracecompass.lttng2.ust.feature.group" version="11.1.0.202509031700"/>
		<unit id="org.eclipse.tracecompass.tmf.pcap.feature.group" version="11.1.0.202509031700"/>
		<unit id="org.eclipse.uml2.sdk.feature.group" version="5.5.3.v20221116-1811"/>
		<unit id="org.eclipse.uml2.sdk.source.feature.group" version="5.5.3.v20221116-1811"/>
		<unit id="org.eclipse.wb.core.feature.feature.group" version="1.21.0.202508081944"/>
		<unit id="org.eclipse.wb.core.java.feature.feature.group" version="1.21.0.202507292027"/>
		<unit id="org.eclipse.wb.core.ui.feature.feature.group" version="1.21.0.202506120418"/>
		<unit id="org.eclipse.wb.doc.user.feature.feature.group" version="1.21.0.202508081828"/>
		<unit id="org.eclipse.wb.layout.group.feature.feature.group" version="1.21.0.202507081833"/>
		<unit id="org.eclipse.wb.rcp.SWT_AWT_support.feature.group" version="1.21.0.202506120418"/>
		<unit id="org.eclipse.wb.rcp.doc.user.feature.feature.group" version="1.21.0.202506120418"/>
		<unit id="org.eclipse.wb.rcp.feature.feature.group" version="1.21.0.202507292027"/>
		<unit id="org.eclipse.wb.swing.doc.user.feature.feature.group" version="1.21.0.202506120418"/>
		<unit id="org.eclipse.wb.swing.feature.feature.group" version="1.21.0.202508190542"/>
		<unit id="org.eclipse.wb.swt.feature.feature.group" version="1.21.0.202508081944"/>
		<unit id="org.eclipse.wildwebdeveloper.embedder.node.feature.feature.group" version="1.2.1.202501211751"/>
		<unit id="org.eclipse.wildwebdeveloper.feature.feature.group" version="1.3.10.202502071606"/>
		<unit id="org.eclipse.wildwebdeveloper.xml.feature.feature.group" version="1.3.7.202501161210"/>
		<unit id="org.eclipse.wst.common.fproj.feature.group" version="3.39.0.v202508180233"/>
		<unit id="org.eclipse.wst.jsdt.chromium.debug.feature.feature.group" version="0.7.0.v202307190351"/>
		<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.4.500.v202307190318"/>
		<unit id="org.eclipse.wst.server_adapters.feature.feature.group" version="3.39.0.v202508222246"/>
		<unit id="org.eclipse.wst.web_js_support.feature.feature.group" version="3.36.0.v202508301759"/>
		<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.39.0.v202508302230"/>
		<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="3.39.0.v202508302230"/>
		<unit id="org.eclipse.wst.xsl.feature.feature.group" version="1.3.1800.v202409142305"/>
		<unit id="org.eclipse.xsd.sdk.feature.group" version="2.39.0.v20250812-0843"/>
		<unit id="org.eclipse.xtend.sdk.feature.group" version="2.40.0.v20250825-0355"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="2.40.0.v20250825-0355"/>
		<unit id="org.eclipse.zest.sdk.feature.group" version="3.25.0.202508071936"/>
	</location>
</locations>
</target>